.admin-nav-links{
  background-color: bisque;
  width: 100%;
  height: 50px;
  text-align: center;
}
.admin-nav-links a{
  margin: 0px 30px;
  position: relative;
  top: 12px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  font-size: large;
  font-weight: bold
}